:root {
  --default-emoji-group-emoji-font-size: 25px;
  --emoji-group-container-background-color: var(--group-bar-background-color);
}

.emoji-group-container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;

  overflow: scroll;
  background-color: var(--emoji-group-container-background-color)
}

.emoji-group {
  width: 90%;
  height: auto;
}

.emoji-group-title {
  color: grey;
  font-weight: bolder;
  font-size: medium;
}

.emoji-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.emoji-list-item {
  margin: 0;
  padding: 0;
  padding-top: 1px;
  font-size: var(--default-emoji-group-emoji-font-size);
  border: none;
  background-color: unset;
}

.emoji-list-item.varied {
  background: linear-gradient(to bottom left,
      black,
      black 1px,
      black 4px,
      transparent 3px)
}


.hidden {
  visibility: hidden;
  position: absolute;
  top: -9999em;
  left: -9999em;
}