:root {
  --group-bar-background-color: rgba(245, 244, 249, 255);
  --group-bar-item-selected-background-color: rgba(105, 105, 105, 1);
  --default-group-bar-emoji-font-size: 17px;
}

.group-bar {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--group-bar-background-color);
}

.group-bar-item {
  height: 100%;
  width: 15%;
  font-size: var(--default-group-bar-emoji-font-size);
  border: none;
  background-color: unset;
}

.group-bar-item.selected {
  background: linear-gradient(to top,
      transparent 3px,
      var(--group-bar-item-selected-background-color) 1px,
      var(--group-bar-item-selected-background-color) 6px,
      transparent 3px)
}