.emoji-tone-picker-modal {
  max-height: 80%;
  width: 80%;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  overflow: scroll;
  padding: 8px;

  border: 0.1px var(--modal-border-gray) solid;
  border-radius: 5px;
  background-color: white;
}

.emoji-tone-picker-modal > div {
  display: flex; 
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;
  gap: 10px;
}

.emoji-tone-picker-modal > div > button {
  margin: 0;
  padding: 0;
  padding-top: 1px;
  font-size: var(--default-emoji-group-emoji-font-size);
  border: none;
  background-color: unset;
}